<div class="login-container">
  <div class="login-card">
        <div class="login-header">
            <h2>Consulta de Producto</h2>
        </div>

        <div class="form-group"> <input [(ngModel)]="idProducto" disabled/> </div>
        <div class="form-group"> <input [(ngModel)]="NombreProducto" disabled/> </div>
        <div class="form-group"> <input [(ngModel)]="PrecioProducto" disabled/> </div>
        <div class="form-group"> <input [(ngModel)]="ProveedorProducto" disabled/> </div>

  </div>
</div>


