.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  background-color: #f5f5f5; /* Un color de fondo suave */
}

mat-card {
  max-width: 400px;
  width: 90%; /* Para que sea responsivo */
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.error-msg {
  color: #f44336; /* Rojo de Material Design */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.success-msg {
  color: #4caf50; /* Verde de Material Design */
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}